@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather',sans-serif;
    font-weight: 900;
    margin-top: 0px;
}

h1 { font-size: 3.75rem; }
h2 { font-size: 2.00rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.625rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.125rem; }

p {
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.btn {
    padding: 6px 10px;
    text-decoration: none;
}
.btn.green {
    background-color: #5cdb95;
    color: #043a6a;
}
.btn.blue {
    background-color: #043a6a;
    color: white;
}
.btn.red {
    background-color: #ff6867;
    color: #043a6a;
}
