/******************************************************************
Stylesheet: Admin Stylesheet

This stylesheet is loaded in admin area. This way you can style
the admin area.

******************************************************************/
#welcome_widget .inside, #support_widget .inside {
  height: 280px; }

#welcome_widget .welcome-panel, #support_widget .welcome-panel {
  border: 0px solid #000000;
  padding-top: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.04); }
  #welcome_widget .welcome-panel .welcome-panel-column, #support_widget .welcome-panel .welcome-panel-column {
    width: 100%; }
  #welcome_widget .welcome-panel h4, #support_widget .welcome-panel h4 {
    margin: 1.33em 0 0;
    font-size: 16px;
    font-weight: 600; }
  #welcome_widget .welcome-panel .support h4, #support_widget .welcome-panel .support h4 {
    margin-bottom: 5px;
    margin-top: 0px; }
  #welcome_widget .welcome-panel .support .portrait, #support_widget .welcome-panel .support .portrait {
    float: left;
    width: 40%;
    height: 140px;
    margin-top: 30px; }
    #welcome_widget .welcome-panel .support .portrait.polygraphic, #support_widget .welcome-panel .support .portrait.polygraphic {
      background: url("../images/polylogo_retina.png") no-repeat center center;
      background-size: contain; }
  #welcome_widget .welcome-panel .support .text, #support_widget .welcome-panel .support .text {
    margin-top: 30px;
    text-align: left;
    float: left;
    width: 60%;
    padding: 10px 15px;
    box-sizing: border-box; }
    #welcome_widget .welcome-panel .support .text h5, #support_widget .welcome-panel .support .text h5 {
      margin: 0px 0px 0px 0px;
      line-height: 1;
      font-size: 14px; }
