/******************************************************************
Stylesheet: Login Stylesheet

This stylesheet is loaded on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

******************************************************************/
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,900);
body.login {
  background-color: #5cdb95;
  font-family: 'Merriweather',sans-serif;
  /*
	This is the Wordpress logo in the admin area.
	You'll have to load your own images and mess
	with the width and height.
	*/ }
  body.login h1 a {
    background: url(../svg/logo.svg) no-repeat top center;
    /* make sure to replace this! */
    width: 100%;
    height: 65px;
    text-indent: -9999px;
    overflow: hidden;
    padding-bottom: 15px;
    display: block; }
  body.login #login_error, body.login .message {
    background: #043a6a;
    color: #5cdb95;
    border-left: 4px solid white;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  body.login form#loginform {
    padding: 26px 24px 46px;
    font-weight: normal;
    background: #043a6a;
    color: #5cdb95;
    border: 1px solid #043a6a;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    body.login form#loginform .input {
      font-family: "Merriweather", sans-serif;
      font-weight: 200;
      font-size: 24px;
      width: 97%;
      padding: 3px;
      margin-top: 2px;
      margin-right: 6px;
      margin-bottom: 16px;
      border: 3px solid #043a6a;
      background: #5cdb95;
      outline: none;
      box-shadow: none; }
    body.login form#loginform label {
      color: #5cdb95;
      font-size: 1rem; }
  body.login #nav, body.login #backtoblog {
    background-color: #043a6a;
    padding: 15px;
    font-size: 1rem; }
    body.login #nav a, body.login #backtoblog a {
      color: #5cdb95; }
      body.login #nav a:hover, body.login #nav a:focus, body.login #nav a:active, body.login #backtoblog a:hover, body.login #backtoblog a:focus, body.login #backtoblog a:active {
        color: #b0edcb; }
  body.login .berufinfo {
    width: 320px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    color: #043a6a;
    margin-top: 60px; }
    body.login .berufinfo .Beruf-logo {
      background-image: url(../images/polylogo_retina.png);
      background-color: #5cdb95;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      opacity: 1;
      display: block;
      margin-top: 30px;
      height: 140px; }
      body.login .berufinfo .Beruf-logo:hover {
        opacity: .75; }
